<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>571888927058-qlpodnr9pjitm2a1rp5oinjfv8cn0na3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.571888927058-qlpodnr9pjitm2a1rp5oinjfv8cn0na3</string>
	<key>API_KEY</key>
	<string>AIzaSyATyJ9jyL_JOJ-PMNRZTK35iza1SKA2Lzs</string>
	<key>GCM_SENDER_ID</key>
	<string>571888927058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tikTok</string>
	<key>PROJECT_ID</key>
	<string>tik-tok-clone-32725</string>
	<key>STORAGE_BUCKET</key>
	<string>tik-tok-clone-32725.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:571888927058:ios:ff9fcdf8b8d2aaffd97a8b</string>
</dict>
</plist>